.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
/*th {
  text-align: left;
}*/
.top {
  vertical-align: middle;
  text-align: center;
}

a {
  vertical-align: middle;
  text-align: left;
}


body {
  background-color: #99cccc;
  color: #ffffcc;
}
