<div class="container">
  <a href="/">Home</a>

  <h4>Url shortener</h4>
  <form action="/url" method="post">
    <input type="text" name="long_url" placeholder="Enter your url here">
    <input type="submit" value="submit">
  </form>
  <hr>
  <form action="/logout" method="get">
    <input type="submit" value="logout">
  </form>
</div>