<div class="container">
  <a href="/">Home</a>
  <form action="/log_in" method="post">
    <h4>Email</h4>
    <input type="text" name="user[email]" placeholder="Email">
    <h4>Password</h4>
    <input type="password" name="user[password]" placeholder="Password">
    <input type="submit" value="Sign-In">
  </form>
  <hr>
  <a href="/create_user">Not a member? Sign up!</a>
</div>
